<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>

<div class="container">
    <h2 th:text="#{offers.message}">Ofertas</h2>
    <form action="/offer/list" class="navbar-form">
        <div class="form-group">
            <input class="form-control" id="searchBox" name="searchText" th:placeholder="#{search.message}"
                   size="50"
                   type="text">
        </div>
        <button class="btn btn-default" th:text="#{searchSimple.message}" type="submit">Buscar</button>
    </form>
    <p th:text="#{offersInSystem.message}"></p>
    <button class="btn btn-default" id="updateButton" th:text="#{update.message}" type="button">Actualizar</button>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $("#updateButton").click(function () {
            var numberPage = [[${param.page}]];
            var urlUpdate = '/offer/list/update';
            if (numberPage != null) {
                urlUpdate += "?page=" + numberPage[0];
            }
            $("#tableOffers").load(urlUpdate);
        });
        /*]]>*/
    </script>
    <div class="table-responsive">
        <table class="table table-hover" id="tableOffers"
               th:fragment="tableOffers">
            <thead>
            <tr>
                <th th:text="#{title.message}">Titulo</th>
                <th th:text="#{description.message}">Descripción</th>
                <th th:text="#{price.message}">Precio</th>
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${offerList}">
                <td id="title" th:text="${offer.getTitle()}">Titulo</td>
                <td th:text="${offer.description}">Bici de ejemplo</td>
                <td><span th:text="${offer.value}"></span> &euro;</td>
                <td><a th:href="${'/offer/details/' + offer.id}">Detalles</a></td>
                <td><a sec:authorize="!hasRole('ROLE_USER')"
                       th:href="${'/offer/edit/' + offer.id}">Modificar</a>
                    <div sec:authorize="hasRole('ROLE_USER')" th:if="${offer.buy}">
                        <button class="btn btn-default" disabled th:id="${'nobuyButton' + offer.id}"
                                th:text="#{sold.message}" type="button">Vendido
                        </button>
                    </div>
                    <div sec:authorize="hasRole('ROLE_USER')">
                        <div th:unless="${offer.buy}">
                            <button class="btn btn-info" th:id="${'buyButton' + offer.id}" th:text="#{buy.message}"
                                    type="button">Comprar
                            </button>
                            <script th:inline="javascript">
                                /*<![CDATA[*/
                                $("#buyButton[[${offer.id}]]").click(function () {
                                    $.get("/offer/[[${offer.id}]]/buy", function (data) {
                                        var numberPage = [[${param.page}]];
                                        var urlUpdate = '/offer/list/update';
                                        if (numberPage != null) {
                                            urlUpdate += "?page=" + numberPage[0];
                                        }
                                        $("#tableOffers").load(urlUpdate);
                                    });
                                });
                                /*]]>*/
                            </script>
                        </div>
                    </div>
                </td>
                <td><a sec:authorize="!hasRole('ROLE_USER')" th:href="${'/offer/delete/' + offer.id}"
                       th:id="'removeOffer-' + ${offer.getTitle()}"
                       th:text="#{remove.message}">Eliminar</a></td>
            </tr>
            </tbody>
            <div class="alert alert-warning" role="alert"
                 th:text="${session.noMoney}"
                 th:unless="${session.noMoney == null}">
                <br>
            </div>
        </table>
    </div>
    <footer th:replace="fragments/pagination"></footer>

</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
